.video-room-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #020617;
  position: relative;
}

.video-container {
  width: 100%;
  height: 100%;
}

.room-id-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #3b82f6;
  padding: 5px 15px;
  border-radius: 20px;
  z-index: 100;
  font-weight: bold;
  border: 1px solid #1e293b;
}